services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        API_URL: http://backend:9966/petclinic/api/
    container_name: petclinic-frontend
    ports:
      - "8080:8080"
    networks:
      - petclinic-network
    healthcheck:
      test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/", "||", "exit", "1" ]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  petclinic-network:
    driver: bridge
