services:
  postgres:
    image: postgres:16.3
    container_name: petclinic-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=petclinic
      - POSTGRES_USER=petclinic
      - POSTGRES_DB=petclinic
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U petclinic -d petclinic" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - petclinic-network

  backend:
    image: navysama/petclinic-rest:latest
    container_name: petclinic-backend
    ports:
      - "9966:9966"
    environment:
      - SPRING_PROFILES_ACTIVE=postgres,spring-data-jpa
      - POSTGRES_URL=jdbc:postgresql://postgres:5432/petclinic
      - POSTGRES_USER=petclinic
      - POSTGRES_PASS=petclinic
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - petclinic-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        API_URL: http://backend:9966/petclinic/api/
    container_name: petclinic-frontend
    ports:
      - "8080:8080"
    depends_on:
      - backend
    networks:
      - petclinic-network
    healthcheck:
      test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/", "||", "exit", "1" ]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  postgres-data:


networks:
  petclinic-network:
    driver: bridge
